* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    /*background:url('vision.jpg') no-repeat center fixed;*/
   }

main {
    padding-top: 100px;
  }
  
  main .row {
    margin-bottom: 20px;
  }
  
  .box img {
    height: 200px;
    width: 170px;
    padding-top: 30px;
  }
  
  .box {
    display: inline;
  }
  
  .container {
    position: absolute;
    height: 66px;
    border-bottom: solid white;
    width: 100%;
    top: 0px;
    padding-left: 10px;
  }

  .reloadButton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
  }
  
  h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  h3 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  p {
    border: 1px solid lightgrey;
    border-top: 0px;
    margin-top: 0;
    padding-right: 5px;
    padding-left: 2px;
    height: 40px;
    width: 171px;
    font-size: 12px;
    margin-bottom: 0px;
  
  }
  
  p .box {
    padding-right: 5px;
    padding-left: 2px;
  }
  
  .col-3 .orange span {
    display: block;
    font-weight: bold;
    color: white;
text-align: center;
  }
  
  .col-3 .green span {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .col-3 .blue span {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .col-4 .orange span {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .col-4 .green span {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .col-4 .blue span {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
  }

.row {
    max-width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
  
  .row::before,
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  .col-3, .col-4 {
    width: 100%;
  }
  
  
  @media only screen and (min-width: 640px) {
    .col-3 {
      width: 33.33%;
    }
  
    .col-4 {
      width: 33.33%;
    }
  }

  .signUpIn {
    width: 70%;
    height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    background:rgba(245, 245, 238, 0.8);
    padding-bottom: 5px;
    border-radius: 2%;
   }

   input[type=text] {
    width: 95%;
    padding: 12px 20px;
    margin-left: 2%;
    display: block;
    outline-style: none;
    font-size: 14px;
    font-weight: bold;
  }

  .my-notes {
  width: 95%;
  height: 200px;
  }

  .submit {
    position: absolute;
    margin-top: 30px;
    width: 65%;
    height: 40px
  }

  button:hover  {
      background:  #f39774;
  }