<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pick-Your-Goals</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
    
  <body>
    <div class="firstHide">        
    <section>
    <span class="secondView"><h1>Pick your target goals and click submit!</h1></span>
    <span class="thirdView"><h1>Live your Best Life!</h1></span>
    </section>
    </div>

    </main>
          
    <section>

    <nav role="navigation">
    </nav>

    <form id="myform" action="#" >
    <div class="dashboaresults1" ></div>
    </form>
    <input class="pickGoals" form="myform" type="submit"  />
    <input value="Delete" class="deleteGoals" form="myform" type="submit"  />
      
    <div class="hiddenForm">

        <div class="row js-row">
            <div class="col-3">
            <div class="box tooltip orange"><img src="../pictures/career.jpg" alt="Career"> <p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Career</span></p></div>
            </div>
            
            <div class="col-3">
            <div class="box tooltip blue"><img src="../pictures/financial.jpg" alt="Financial"><p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Financial</span> </p></div>
            </div>
            
            <div class="col-3">
            <div class="box tooltip green"><img src="../pictures/spiritual.jpg" alt="Spiritual"><p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Spiritual</span></p></div>
            </div>
            </div>
                  
            <div class="row js-row">
            <div class="col-4">
            <div class="box tooltip orange"><img src="../pictures/experiential.jpg" alt="Experiential"><p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Experiential</span></p></div>
            </div>
            
            <div class="col-4">
            <div class="box tooltip blue"><img src="../pictures/physical.jpg" alt="Physical"><p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Physical</span></p></div>
            </div>
            
            <div class="col-4">
            <div class="box tooltip green"><img src="../pictures/personaldevelopment.jpg" alt="Personal-Development"><p> <span class="tooltiptext">Click to show options list </span><span class="wordSpans">Personal-Development</span> </p></div>
            </div>
            </div>
        
         <button type="submit" class="reloadButton">Return to Home</button>
        
        
        <div class="js-error-message"></div>

        <section class="secondSection">

        <div class="commentsForm"> 

            <form class="goal-notes" role="form" action="#">
            <legend>Notes to reach my goals, choose a category.</legend>
            
            <label class="category" for="category"></label>
              <select id="category" type="text" title="category" class="my-category"  placeholder="Enter Category" required>
                <option value="0"></option>
                <option value="Career" selected>Career</option>
                <option value="Financial">Financial</option>
                <option value="Physical">Physical</option>
                <option value="Personal-development">Personal-development</option>
                <option value="Spiritual">Spiritual</option>
                <option value="Experiential">Experiential</option>
              </select>
                     
            <label for="notes">
            <input id="notes" title="notes"  type="text" class="my-notes" placeholder="Enter Notes" required>
            </label>
            
            <button type="submit" class="submitPost">Submit</button>  

                
            </form>
            </div>
            
            <div class="post-results"></div>

</section>

</div>

<script src="index.js"></script>
</body>
</html>